@import url("https://fonts.bunny.net/css?family=raleway:500,600,700");

body {
    margin: 0;
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.content {
    margin: 20px;
    color: var(--text-color);
}

.nav {
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--nav-main-color);
    flex-shrink: 0;
    float: left;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
}


.nav h1 {
    font-size: 30px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 1px;
}

.nav h2 {
    font-size: 20px;
    padding-left: 30px;
    padding-bottom: 3px;
}

.nav .link {
    margin-left: 0;
    display: block;
    width: auto;
    font-size: 22px;
    font-weight: 500;
    padding: 7px 20px;
    color: var(--text-color);
    text-decoration: none;
}

.nav .link-active {
    background-color: var(--background-color);
    font-weight: 600;
}

.nav .link:hover {
    background-color: var(--hover-color);
}

.page-title {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.page {
    display: inline-block;
    width: 100%;
}

:root {
    --background-color: #FFFFFF;
    --nav-main-color: #DDDDDD;
    --text-color: #000000;
    --hover-color: #efefef;
    --invert-pct: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222222;
        --nav-main-color: #000000;
        --text-color: #FFFFFF;
        --hover-color: #2a2a2a;
        --invert-pct: 1;
    }
}

li {
    margin-bottom: 20px;
}
.page-head-text{
    width: 100%;
}

.page-head-text p{
    font-size: 30px;
    vertical-align: bottom;
    text-align: center;
    font-weight: 400;
}

.pathway-option-list{
}

.pathway-option{
    width: 100%;
    height: 100%;
}

.div-table {
    display: table;         
    width: auto;                     
    border-spacing: 50px;
    margin-left: 10%;
  }
  .div-table-row {
    display: table-row;
    width: auto;
    height: 300px;
    clear: both;
    
  }
  .div-table-col {
    float: left;
    display: table-column;         
    width: 300px;         
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #000000;
    border-radius: 3px;
  }

  .pathway-option-icon{
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }

  .pathway-option-text{
    font-size: 40px;
    text-align: center;
    vertical-align: top;
    margin: 1%;
  }

  a:link{
    text-decoration: none;
    color: black;
  }

  a:visited{
    text-decoration: none;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color: black;
  }