@import url("https://fonts.bunny.net/css?family=raleway:500,600,700");

body {
    margin: 0;
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.content {
    margin: 20px;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
}

.nav {
    top: 0;
    height: 100%;
    width: 250px;
    background-color: var(--nav-main-color);
    flex-shrink: 0;
    float: left;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
}

.gods-nav{
  display: none;
}

.gods-nav-display{
  background-color: var(--nav-secondary-color);
  width: 250px;
  height: 120px;
  margin-top: 245px;
  flex-shrink: 0;
  float: left;
  position: -webkit-sticky;
  position: sticky;
}

.gods-nav-display a{
    margin-left: 0;
    display: block;
    width: auto;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 20px;
    color: var(--text-color);
    text-decoration: none;
}

.gods-nav-display a:hover{
  color: var(--text-color);
}

.gods-nav-display a:visited{
  color: var(--text-color);
}


.nav h1 {
    font-size: 30px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 1px;
}

.nav h2 {
    font-size: 20px;
    padding-left: 30px;
    padding-bottom: 3px;
}

.nav .link {
    margin-left: 0;
    display: block;
    width: auto;
    font-size: 22px;
    font-weight: 500;
    padding: 7px 20px;
    color: var(--text-color);
    text-decoration: none;
}

.nav .link-active {
    background-color: var(--background-color);
    font-weight: 600;
}

.nav .link:hover {
    background-color: var(--hover-color);
}

.page-title {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.page {
    display: inline-block;
    width: 100%;
}

:root {
    --background-color: #FFFFFF;
    --nav-main-color: #DDDDDD;
    --text-color: #000000;
    --hover-color: #efefef;
    --invert-pct: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222222;
        --nav-main-color: #000000;
        --nav-secondary-color: #111111;
        --text-color: #FFFFFF;
        --hover-color: #2a2a2a;
        --invert-pct: 1;
    }
}

li {
    margin-bottom: 20px;
}
.page-head-text{
    width: 100%;
}

.page-head-text p{
    font-size: 30px;
    vertical-align: bottom;
    text-align: center;
    font-weight: 400;
}

.pathway-option-list{
}

.pathway-option{
    width: 100%;
    height: 100%;
}

.div-table {
    display: table;         
    width: auto;                     
    border-spacing: 50px;
    margin-left: 10%;
  }

  .div-table-col {
    float: left;
    display: table-column;         
    width: 300px;         
    height: 300px;
    margin: 50px;
    border: 2px solid #000000;
    border-radius: 3px;
  }

  .pathway-option-icon{
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }

  .pathway-option-text{
    font-size: 40px;
    text-align: center;
    vertical-align: top;
    margin: 1%;
  }

  a:link{
    text-decoration: none;
  }

  a:visited{
    text-decoration: none;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color: black;
  }

  .pathway-tree-alchemy{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 750px;
    vertical-align: middle;
  }

  .pathway-tree-arcane-weaponry{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1050px;
    vertical-align: middle;
  }

  .pathway-tree-bladed-weapons{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 600px;
    vertical-align: middle;
  }

  .pathway-tree-blunt-weapons{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 650px;
    vertical-align: middle;
  }
  .pathway-tree-brawling{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 750px;
    vertical-align: middle;
  }
  .pathway-tree-movement{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 650px;
    vertical-align: middle;
  }

  .pathway-tree-content{
    border: 2px solid #000000;
    border-radius: 5px;
    width: 100%;
    height: 90%;
  }

  .pathway-bold{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0%;
  }

  .pathway-tree-text{
    margin-top: 1%;
    text-align: center;
    padding: 2%;
  }

  .pathway-tree-ultimate{
    width: 90%;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 5%;
  }

  .pathway-ultimate-bold{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 0%;
  }

  .pathway-ultimate-text{
    margin-top: 1%;
    text-align: center;
  }

  .pathway-title{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    width: 90%;
  }

  .pathway-tree-title-div{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .pathway-tree-title{
    font-size: 30px;
    text-align: center;
  }

  .gods-old h1{
    text-decoration: underline;
  }

  @media all and (max-width: 1700px) {
    .content{
      display: block;
      flex-wrap: nowrap;
      height: auto;
    }

    .pathway-tree-alchemy{
      width: 90%;
      height: auto;
    }

    .pathway-tree-brawling{
      width: 90%;
      height: auto;
    }

    .pathway-tree-movement{
      width: 90%;
      height: auto;
    }

    .pathway-tree-content{
      border: 2px solid #000000;
      border-radius: 5px;
      width: 100%;
      height: auto;
    }

    .pathway-tree-bladed-weapons{
      width: 90%;
      height: auto;
    }

    .pathway-tree-blunt-weapons{
      width: 90%;
      height: auto;
    }

    .pathway-tree-arcane-weaponry{
      width: 90%;
      height: auto;
    }

    .pathway-tree-title-div{
      width: 90%;
    }
    .pathway-tree-ultimate{
      margin-left: 5%;
      margin-top: 5%;
    }

    .pathway-ultimate-text{
      font-size: 14px;
    }

    .pathway-title{
      margin-left: 5%;
    }

    .div-table{
      margin-left: 5%;
    }


  }

  @media all and (max-width: 1000px) {

    a:link{
      color: var (--text-color);
    }

    body{
      display: inline-block;
    }

    .page{
      display: inline-block;
      margin-top: 400px;
    }

    .gods-nav-display{
      margin-top: 370px;
      margin-left: 0px;
      width: 100%;
    }

    .nav{
      position: absolute;
      padding: 10px;
      width: 100%;
      height: 350px;
    }

    .nav h1{
      display: none;
    }

    .nav h2{
      display: none;
    }

    .gods-old{
      display: flex;
      flex-wrap: wrap;
    }

    .gods-old h1{
      width: 100%;
      text-align: center;
    }

    .gods-old h2{
      width: auto;
      margin-right: 5%;
      vertical-align: middle;
    }
    .gods-old h3{
      margin-left: 5%;
      width: auto;
      vertical-align: bottom;
    }

    .gods-old p{
      width: 90%;
    }

    .div-table{
      margin-left: 1%;
      width: 100%;
      padding: 0%;
    }

    .nav .link{
      text-align: center;
      font-size: 30px;
    }

    .pathway-ultimate-text{
      font-size: 14px;
    }

    
  }

  