<!DOCTYPE HTML>
<html lang="en-GB">
<head>
    <title>Ellumia | <%= curPage.title %></title>
    <link href="/static/stylesheet.css" rel="stylesheet">
    <script src="/static/nav.js" defer></script>
</head>